<div class="table-responsive">
  <table class="table">
    <tr>
     <!-- <th>#</th> -->
      <th>Task Title</th>
      <th>Assigner</th>
      <th>Date</th>
      <th>Ratings</th>
    </tr>

      <tr *ngFor="let r of result">
    <!--  <td>1</td> -->
      <td>{{r.title}}</td>
      <td>{{r.assigner}}</td>
      <td>{{r.date}}</td>
      <td style="">
     <rating-inputs></rating-inputs> 
        </td>
    </tr>
    
  </table>
</div>
