<div *ngFor="let r of result">
<div class="row">
  <div class="col-sm-4">  
    <div class="form-group">
      <label for="inputFirstName">First Name</label>
      <input #txtFirstName type="text" class="form-control" style="width:125px" value="{{r.fname}}">
    </div>
  </div>

  <div class="col-sm-6">  
    <div class="form-group">
      <label for="inputLastName">Last Name</label>
      <input #txtLastName type="text" class="form-control" style="width:208px" value="{{r.lname}}">
    </div> 
</div>
</div>

<div class="row">
  <div class="col-sm-6">
     <div class="form-group" >
    <label for="lblInputEmail1">Email address</label>
    <input  #txtEmail type="email" class="form-control" style="width:350px" value="{{r.email}}" placeholder="email">
  </div>
  </div>
</div>

<div class="row"> 
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputAdmin">Admin</label>
      <input #txtAdmin type="text" class="form-control" style="width:350px" value="{{r.adminName}}" disabled>
    </div>
  </div>

</div>

<div class="row"> 
 <div class="col-sm-6">
    <div class="form-group">
      <label for="inputWebsite">Company Name</label>
      <input #txtCompany type="text" class="form-control" style="width:350px" value="{{r.companyName}}" disabled>
    </div>
  </div>
</div>

<!--
<a data-toggle="modal" href="#myModal">Change Password</a>
-->

<div align="right">
<button type="button" (click)="updateUser(txtFirstName.value,txtLastName.value,txtEmail.value,txtAdmin.value,txtCompany.value)" class="btn btn-primary">Edit</button>
</div>
</div>

<!--
<div style="margin-top:20px" class="modal" id="myModal" role="dialog">
    <div class="modal-dialog">
    -->
      <!-- Modal content-->
 <!--     <div style="margin-top:100px" class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="color:black">Change Password</h4>
        </div>
        <div class="modal-body">
          <h2>Change Password</h2>

<div *ngFor="let r of result">

         <div class="row"> 
  <div class="col-sm-6">
    <div class="form-group">
      <label for="inputpwd" style="color:black">Password</label>
      <input #txtpwd type="text" style="color:black" class="form-control" value="{{r.password}}" disabled>
    </div>
  </div>
         </div>
 </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
 -->

 <!-- Trigger the modal with a button -->
