<form>
	<div *ngFor="let r of result">

		<div class="form-group">
			<label for="currentPwd">Enter Current Password</label>
			<input #currentPwd type="password" class="form-control" id="currentPwd" style="width:350px">
		</div>

		<div class="form-group">
			<label for="NewPwd">New Password</label>
			<input #pwd type="password" class="form-control" id="NewPwd" style="width:350px">
		</div>

		<div class="form-group">
			<label for="confirmNewPwd">Confirm Password</label>
			<input #confirmPwd type="password" class="form-control" id="confirmNewPwd" style="width:350px">
		</div>

		<div align="right">
			<button type="submit" (click)="clickEdit(currentPwd.value,pwd.value,confirmPwd.value)" class="btn btn-primary">Edit</button>
		</div>
	</div>
</form>