<h1>Nickname</h1>

<p>
  ck name sasin oder tart chatting!
</p>

<p>
    <input #focus [(ngModel)]="nickname" (keypress)="eventHandler($event)">
    <button class="btn btn-info" (click)="save()">Save</button>
</p>